#app,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin: 280px auto;
  height: 700px;
  background-color: rgb(163, 163, 163);
  border-radius: 2em;
  color: white;
}
